html,body{ height: 100%;}
body{ overflow: hidden;}
.app-wrap{
    display:flex;
	align-items : stretch;
	height:100vh;
}
.header{
    width: 100%;
    background: var(--color-primary);
    color: #fff;
    text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	transition: 500ms 400ms  width;
	z-index: 10;
}

.loaded .header {
	width: 300px;
}

.logo {
    margin: auto;
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.logo > svg,
.logo > span {
    display: block;
    margin: 14px auto;
}

#root {
	width: calc(100% - 300px);
    margin-left: 300px;
}

.Suggest-thumb {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #ddd;
    border-radius: 50%;
	border: 6px solid var(--color-primary)
}

.App {	  
    text-align: center;
    height: 100%;
    display: table;
	width: 100%;
	transform: translateX(300px);
	transition: 600ms 300ms transform, 500ms 400ms opacity;
	opacity: 0;
}
.loaded .App {
	transform: translateX(0px);
	opacity: 1;
}

.App-intro {
    display: table-cell;
    vertical-align: middle;
}


.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  padding-top: 60px;
  padding-bottom: 60px;
}

.Suggest-txt {
    font-size: 36px;
    color: var(--color-primary);
    margin: 30px;
}


button{
    width:160px;
	height: 54px;
	border:2px solid var(--color-primary);
	color: var(--color-primary);
	transition: 300ms;
	font-size:16px;
	margin:0 4px;
	display:inline-block;
	cursor:pointer;
}
button:hover{
	background-color: var(--color-primary);
	color: #fff;
}
button:focus{
	outline:none;
}


@media (max-width :768px){

	.App {transform: translateY(300px);}
	
	.header {
		display: block;
		height: 110px;
		width: 100%;
		padding-top: 20px;
	}
	
	.app-wrap {
		display: block;
		height: auto;
	}
	
	.header {
		width: 100%;
		height:100%;
		transition: 500ms 400ms height;
	}
	
	.loaded .header {
		width: 100%;
		height: 130px;
	}
	
	div#root {
		margin-left: 0;
		width: 100%;
		margin-top:150px;
	}
	
	.logo > svg {
		margin-top: 0;
	}

}

@media (max-width :360px){
    button{
	    width: 140px;
        height: 48px;
	}
}
